<ion-header>
  <ion-toolbar>
    <ion-icon name="football"></ion-icon>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
    <ion-list>
      <ion-item>
        <ion-input type="email" placeholder="E-Mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Passwort"></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button [routerLink]="['/register']">Registrieren</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="loginEmail()">Anmelden</ion-button>
          </ion-col>
          <ion-col>
              <ion-button (click)="loginGoogle()">Google Anmeldung</ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>  
</ion-content>