.nav-tabs-custom {
  margin-bottom: 20px;
}

canvas {
  background-color: lightgreen;

}

.draw-element {
  text-align: center;
  vertical-align: center;
}

img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.headline {
  padding-top: 20px;
  padding-bottom: 10px;
}

.list {
  width: 100%;
}

row{
  padding: 5px;
}
