
<img #cone src="assets/cone.svg" alt="" style="display: none">
<img #ball src="assets/neutral.svg" alt="" style="display: none">
<img #flag src="assets/flag.svg" alt="" style="display: none">
<img #arrow1 src="assets/arrow_head.png" alt="" style="display: none">
<img #arrow2 src="assets/arrow_head.png" alt="" style="display: none">
<img #arrow3 src="assets/arrow_head.png" alt="" style="display: none">
<img #bench src="assets/bench.svg" alt="" style="display: none">
<img #goal src="assets/goal.svg" alt="" style="display: none">
<img #pole src="assets/pole.svg" alt="" style="display: none">
<img #ring src="assets/ring.svg" alt="" style="display: none">
<img #playerB src="assets/player_blue.svg" alt="" style="display: none">
<img #playerR src="assets/player_red.svg" alt="" style="display: none">
<img #half src="assets/half.png" alt="" style="display: none">
<img #full src="assets/full.png" alt="" style="display: none">
<img #green src="assets/green.png" alt="" style="display: none">
<div class="row">
  <div class="col-4">
    <nav>
      <div class="nav nav-tabs nav-tabs-custom" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-drawing-tab" data-toggle="tab" href="#nav-drawing" role="tab"
           aria-controls="nav-home" aria-selected="true">Zeichnen</a>
        <a class="nav-item nav-link" id="nav-database-tab" data-toggle="tab" href="#nav-database" role="tab"
           aria-controls="nav-profile" aria-selected="false">Datenbank</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent" role="tabpanel">
      <div class="tab-pane fade show active" id="nav-drawing" role="tabpanel">
        <div class="row">
          <input class="col-12" type="number" placeholder="Name..." [(ngModel)]="currentExercise.name"
                 [ngModelOptions]="{standalone: true}" value={{currentExercise.minimaleTeilnehmer}}>
        </div>
        <div class="row">
          <button class="btn btn-primary col-12" (click)="createExercise()">Neue Übung</button>
        </div>
        <div *ngIf="exerciseSelected">
          <div class="row">
            <div class="col-md-6">
              <label>
                Öffentlich
                <input type="checkbox" [(ngModel)]="currentExercise.istOeffentlich" [ngModelOptions]="{standalone: true}">
              </label>
            </div>
            <div class="col-md-6">
              <label>
                Kategorie
                <select [(ngModel)]="currentExercise.kategorie" [ngModelOptions]="{standalone: true}">
                  <option value="0" selected>Aufwärmen</option>
                  <option value="1">Spielform</option>
                  <option value="2">Passübung</option>
                  <option value="3">Dribbelübung</option>
                  <option value="4">Koordination</option>
                  <option value="5">Torschuss</option>
                  <option value="6">Kraftübung</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="card col-12" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                 aria-controls="collapseExample">Schwerpunkte
            </div>
            <div class="row">
              <input class="col-12" type="number" placeholder="Min. Teilnehmer..." [(ngModel)]="currentExercise.minimaleTeilnehmer"
                     [ngModelOptions]="{standalone: true}" value={{currentExercise.minimaleTeilnehmer}}>
            </div>
            <div class="collapse" id="collapseExample">
              <div class="card card-body col-12" (click)="onFocus(0)">
                Passspiel
                <div *ngIf="containsFocus(0)">X</div>
              </div>
              <div class="card card-body col-12" (click)="onFocus(1)">
                Ballan -mitnahme
                <div *ngIf="containsFocus(1)">X</div>
              </div>
              <div class="card card-body col-12" (click)="onFocus(2)">
                Torschuss
                <div *ngIf="containsFocus(2)">X</div>
              </div>
              <div class="card card-body col-12" (click)="onFocus(3)">
                1vs1 - Angriff
                <div *ngIf="containsFocus(3)">X</div>
              </div>
              <div class="card card-body col-12" (click)="onFocus(4)">
                1vs1 - Verteidigung
                <div *ngIf="containsFocus(4)">X</div>
              </div>
              <div class="card card-body col-12" (click)="onFocus(5)">
                Überzahl Angriff
                <div *ngIf="containsFocus(5)">X</div>
              </div>
              <div class="card card-body col-12" (click)="onFocus(6)">
                Überzahl Verteidigung
                <div *ngIf="containsFocus(6)">X</div>
              </div>
              <div class="card card-body col-12" (click)="onFocus(7)">
                Unterzahl Angriff
                <div *ngIf="containsFocus(7)">X</div>
              </div>
              <div class="card card-body col-12" (click)="onFocus(8)">
                Unterzahl Verteidigung
                <div *ngIf="containsFocus(8)">X</div>
              </div>
              <div class="card card-body col-12" (click)="onFocus(9)">
                Taktik
                <div *ngIf="containsFocus(9)">X</div>
              </div>
              <div class="card card-body col-12" (click)="onFocus(10)">
                Flanken
                <div *ngIf="containsFocus(10)">X</div>
              </div>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-primary col-md-6" (click)="saveExercise()">Speichern</button>
          </div>
          <div class="row">
            {{errorMessage}}
          </div>
          <div class="row">
            <div class="col-4 draw-element">
              <img src="assets/cone.svg" alt="" (click)="addElement(0,100,100)">
            </div>
            <div class="col-4 draw-element">
              <img src="assets/flag.svg" alt="" (click)="addElement(1,100,100)">
            </div>
            <div class="col-4 draw-element">
              <img src="assets/neutral.svg" alt="" (click)="addElement(2,100,100)">
            </div>
          </div>

          <div class="row">
            <div class="col-4 draw-element">
              <img src="assets/bench.svg" alt="" (click)="addElement(3,100,100)">
            </div>
            <div class="col-4 draw-element">
              <img src="assets/goal.svg" alt="" (click)="addElement(4,100,100)">
            </div>
            <div class="col-4 draw-element">
              <img src="assets/pole.svg" alt="" (click)="addElement(5,100,100)">
            </div>
          </div>

          <div class="row">
            <div class="col-4 draw-element">
              <img src="assets/ring.svg" alt="" (click)="addElement(6,100,100)">
            </div>
            <div class="col-4 draw-element">
              <img src="assets/player_blue.svg" alt="" (click)="addElement(7,100,100)">
            </div>
            <div class="col-4 draw-element">
              <img src="assets/player_red.svg" alt="" (click)="addElement(8,100,100)">
            </div>
          </div>

          <div class="row">
            <div class="col-4 draw-element">
              <img src="assets/arrow.png" alt="" (click)="addLine(0,0,0,100,100)">
            </div>
            <div class="col-4 draw-element">
              <img src="assets/arrow.png" alt="" (click)="addLine(1,0,0,100,100)">
            </div>
            <div class="col-4 draw-element">
              <img src="assets/arrow.png" alt="" (click)="addLine(2,0,0,100,100)">
            </div>
          </div>
          <h5 class="headline">Hintergrundbild</h5>
          <div class="row">
            <div class="col-4 draw-element">
              <img src="assets/test.png" alt="" (click)="setBackground(0);">
            </div>
            <div class="col-4 draw-element">
              <img src="assets/half.png" alt="" (click)="setBackground(1)">
            </div>
            <div class="col-4 draw-element">
              <img src="assets/green.png" alt="" (click)="setBackground(2)">
            </div>
          </div>
          <h5 class="headline">Plazierte Elemente</h5>
          <div class="row element-list-item" *ngFor="let e of currentExercise.uebungsElemente">
            <div class="col-8">{{generateName(e)}}</div>
            <div class="col-4 text-right">
              <button type="button" class="btn btn-primary btn-sm" (click)="deleteElement(e)">löschen</button>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-database" role="tabpanel">
        <div class="row">
          <button class="btn btn-primary col-12" (click)="getExercises()">Update</button>
        </div>
        <div class="card" *ngFor="let e of exercises">
          <div class="card-header"> {{e.id}} - {{e.name}}</div>
          <div class="card-body">
            <button class="btn btn-primary col-md-6" (click)="loadExercise(e.id)">Laden</button>
            <button class="btn btn-danger col-md-6" (click)="deleteExercise(e.id)">Löschen</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-8">
    <canvas id="canvas" width="700" height="800" #canvas (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)">
      Sorry, your browser doesn't support the &lt;canvas&gt; element.
    </canvas>
  </div>

</div>
