<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>Mannschaften</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-icon name="notifications-outline"></ion-icon></ion-col>
      <ion-col><ion-icon name="football"></ion-icon></ion-col>
      <ion-col><ion-icon name="person"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-tabs>
  <ion-content *ngIf="this.mode === this.enumVisibilityMode.SELECTION">
    <ion-button
      *ngIf="teams.length >= 1"
      expand="full"
      class="mannschaft-buttons"
      (click)="onButtonTeamClick(0)"      
      >{{ teams[0].name }}</ion-button
    >
    <ion-button
      *ngIf="teams.length >= 2"
      expand="full"
      class="mannschaft-buttons"
      (click)="onButtonTeamClick(1)"
      >{{ teams[1].name }}</ion-button
    >
    <ion-button
      *ngIf="teams.length >= 3"
      expand="full"
      class="mannschaft-buttons"
      (click)="onButtonTeamClick(2)"
      >{{ teams[2].name }}</ion-button
    >
    <ion-button
      *ngIf="teams.length >= 4"
      expand="full"
      class="mannschaft-buttons"
      (click)="onButtonTeamClick(3)"
      >{{ teams[3].name }}</ion-button
    >
  </ion-content>

  <ion-content *ngIf="this.mode === this.enumVisibilityMode.CREATE_TEAM">
    <ion-list>
      <ion-item>
        <ion-input
          type="text"
          placeholder="Name"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Altersklasse:</ion-label>
        <ion-select [(ngModel)]="altersklasse">
          <ion-select-option
            *ngFor="let selection of altersklassenOptions"
            [value]="selection"
            >{{ selection }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Liga:</ion-label>
        <ion-select [(ngModel)]="liga">
          <ion-select-option
            *ngFor="let selection of ligaOptions"
            [value]="selection"
            >{{ selection }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button (click)="submitNewTeam()">Übernehmen</ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="resetPageToDefaultView()"
                >Abbrechen</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-button
    (click)="onNewTeamClick()"
    *ngIf="teams.length < 4"
    >Neue Mannschaft</ion-button
  >
  <ion-button (click)="logout()" [routerLink]="['/login']"
    >Ausloggen</ion-button
  >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mannschaft" (click)="this.resetPageToDefaultView()">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Mannschaft</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="this.userService.selectedTeam" tab="ueberblick" (click)="onTabButtonClick('/overview')">
      <ion-icon name="eye"></ion-icon>
      <ion-label>Überblick</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="this.userService.selectedTeam" tab="trainingsplaner" (click)="onTabButtonClick('/planer2')">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Trainingsplaner</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
